// brand colors
$brand_color_grey: #8f8f8f;
$brand_color_grey_light_bg: #eee;

$brand_color_blue: #3894bf;
$brand_color_blue_light_bg: #f8fdff;

$brand_color_yellow: #ce9030;
$brand_color_yellow_light_bg: #fffcf8;

$brand_color_red: #bf5138;
$brand_color_red_light_bg: #fff8f8;